<ul class="nav">
    <li class="{{flagActiveDashboard}}">
        <a href="/">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="{{flagActiveOrganisation}}">
        <a href="/organisation">
            <i class="ti-panel"></i>
            <p>Organisation</p>
        </a>
    </li>
    <li class="">
        <a href="/">
            <i class="ti-user"></i>
            <p>Profile</p>
        </a>
    </li>
    <li class="">
        <a href="/">
            <i class="ti-settings"></i>
            <p>Settings</p>
        </a>
    </li>
    <li>
        <a href="user.html">
            <i class="ti-lock"></i>
            <p><a class="menu-link" [routerLink]="['/login']">Logout</a></p>
        </a>
    </li>
</ul>